# Walmart Challenge
#  Max Chacon V.
I Develop this notebok in python for the solution, Usually i work in Microsoft Azure so this has similar experience and itsfree to show you ther ETL.

So you have to RUN it all on Runtime, then it will request you to upload the file 'result.csv' that is on the data ile on the repository,then it will ask you to save the 2 downloads.

In [117]:
#First par import all the libraries to work de dataframe 
import numpy as np
import matplotlib.pyplot as plt 
from google.colab import files
import io
import pandas as pd
import seaborn as sns
from google.cloud import bigquery
%matplotlib inline

This is the call to upload the file, there are other option, but could lead to an accer problem, yjust upload the file of the repository or the download form Kraggle its the same.

In [118]:
data = files.upload()

Saving result.csv to result (1).csv

In [119]:
df = pd.read_csv(io.StringIO(data['result.csv'].decode('utf-8')))
df.head()

   metascore                name console userscore          date
0         97  Grand Theft Auto V     PS3       8.3  Sep 17, 2013
1         97  Grand Theft Auto V    X360       8.3  Sep 17, 2013
2         95      The Last of Us     PS3       9.2  Jun 14, 2013
3         94   BioShock Infinite     PS3       8.5  Mar 26, 2013
4         94   BioShock Infinite      PC       8.6  Mar 25, 2013

Firts look of the dataset, Five column that have the info of the Video Games

In [120]:
df.describe

<bound method NDFrame.describe of        metascore                           name console userscore          date
0             97             Grand Theft Auto V     PS3       8.3  Sep 17, 2013
1             97             Grand Theft Auto V    X360       8.3  Sep 17, 2013
2             95                 The Last of Us     PS3       9.2  Jun 14, 2013
3             94              BioShock Infinite     PS3       8.5  Mar 26, 2013
4             94              BioShock Infinite      PC       8.6  Mar 25, 2013
...          ...                            ...     ...       ...           ...
15642         38  Touhou Kobuto V: Burst Battle  Switch       4.6  Oct 10, 2017
15643         38                        Randall     PS4       2.1   Jun 6, 2017
15644         36             Tokyo Tattoo Girls    VITA       5.4  Nov 14, 2017
15645         26                      Road Rage     PS4       2.5  Nov 14, 2017
15646         17         Vroom in the Night Sky  Switch       3.1   Apr 5, 2017

[15647 rows x 5 columns]>

So we have 15K rows and 5 column, now its time to explore and clean the dataset.

In [121]:
df.dtypes

metascore     int64
name         object
console      object
userscore    object
date         object
dtype: object

In [122]:
df = df.drop_duplicates()
df.shape

(15647, 5)

We eliminate dplicates in case the data is not clean and look the shape of it to know how many were dulpicates.
Then we wxplore the misisg values or data in columns

In [123]:
df.isnull().sum()

metascore    0
name         0
console      0
userscore    0
date         0
dtype: int64

With the function, we know the data is clean and show no missing values.



*   To anser the job 'The top 10 best games for all consoles.'


*   This line will bring the top 10 games including all consoles sort by MetaScore.

In [124]:
df_topGames=df.sort_values('metascore', ascending=False).head(10)[['metascore','console', 'name', 'date','userscore']]
df_topGames.head(10)

      metascore console  ...          date userscore
1301         98    X360  ...  Apr 29, 2008       7.9
200          98    XONE  ...  Oct 26, 2018       5.9
1400         98      PS  ...  Sep 20, 2000       7.4
1300         98     PS3  ...  Apr 29, 2008       7.5
0            97     PS3  ...  Sep 17, 2013       8.3
201          97     PS4  ...  Oct 26, 2018       7.7
2300         97      GC  ...  Nov 17, 2002       9.2
321          97  Switch  ...   Mar 3, 2017       8.5
743          97     WII  ...  May 23, 2010       9.1
356          97  Switch  ...  Oct 27, 2017       8.9

[10 rows x 5 columns]

So to export the data of the top 10 games, i used a function to downloadit local it, but in a more complete data 
infrastructure like AWS or Azure this data could be use in a data flow.
i only put the download on the top an wst for all conle, beause it would be anoying download 2 files per consoles, but the code is there, it can be replicate it or use the created dataframes.

In [168]:
df_topGames.to_csv('df_topGames.csv')
files.download("df_topGames.csv")

To anser the job 'The worst 10 games for all consoles.'

*  This line will bring the bottom 10 games

including all consoles sort by MetaScore.

In [125]:
df_worstGames=df.sort_values('metascore', ascending= True).head(10)[['metascore','console', 'name', 'date', 'userscore']]
df_worstGames.head(10)

       metascore console  ...          date userscore
12836         11    WIIU  ...   Dec 4, 2012         1
12641         16      PC  ...  Jun 24, 2013       1.2
15646         17  Switch  ...   Apr 5, 2017       3.1
12640         17    X360  ...   Apr 5, 2013       1.5
15411         17     PS3  ...   May 5, 2009       1.9
15445         17    X360  ...  Oct 10, 2007       4.2
15241         18     WII  ...   Jul 7, 2008       3.6
12639         19    X360  ...  Jun 25, 2013       1.2
14083         19      PC  ...  Jun 11, 2015       1.2
15410         20      PC  ...  Mar 31, 2009       2.3

[10 rows x 5 columns]

In [169]:
df_worstGames.to_csv('df_worstGames.csv')
files.download("df_worstGames.csv")

Now i identified the distint consoles from the column 'console'.
This to answer the questions:
1.   The top 10 best games for each console/company.
2.   The worst 10 games for each console/company.

In [126]:
print(f"Unique FN: {df['console'].unique()}")

Unique FN: ['PS3' 'X360' 'PC' 'WIIU' '3DS' 'PS4' 'VITA' 'XONE' 'Switch' 'WII' 'DS'
 'PSP' 'PS2' 'XBOX' 'GBA' 'N64' 'DC' 'GC' 'PS' ' PC' ' VITA']

Now i create datframes for consoles to anwer the tasks of best and worst game for each console, in this case i identified some categories duplicates but with bad typing, PC and VITA where twice.

In [127]:
df_PS3=df.loc[(df.console == 'PS3') ]
df_X360=df.loc[(df.console == 'X360') ]
df_PC=df.loc[(df.console == 'PC' ) | (df.console  == ' PC')]
df_WIIU=df.loc[(df.console == 'WIIU') ]
df_3DS=df.loc[(df.console == '3DS') ]
df_PS4=df.loc[(df.console == 'PS4') ]
df_VITA=df.loc[(df.console == 'VITA') | (df.console  == ' VITA')]
df_XONE=df.loc[(df.console == 'XONE') ]
df_Switch=df.loc[(df.console == 'Switch') ]
df_WII=df.loc[(df.console == 'WII') ]
df_DS=df.loc[(df.console == 'DS') ]
df_PSP=df.loc[(df.console == 'PSP') ]
df_PS2=df.loc[(df.console == 'PS2') ]
df_XBOX=df.loc[(df.console == 'XBOX') ]
df_GBA=df.loc[(df.console == 'GBA') ]
df_N64=df.loc[(df.console == 'N64') ]
df_DC=df.loc[(df.console == 'DC') ]
df_GC=df.loc[(df.console == 'GC') ]
df_PS=df.loc[(df.console == 'PS') ]

# Now im going to show the best and then the worst top 10 for each console in the next order


*  PS3
*  XBOX360
*  PC
*  WIIU
*  3DS
*  PS4
*  VITA
*  XONE
*  Switch
*  WII
*  DS
*  PSP
*  PS2
*  XBOX
*  GBA
*  N64
*  DC
*  GC
*  PS

In [128]:
df_PS3_top=df_PS3.sort_values('metascore', ascending=False).head(10)[['metascore','console', 'name', 'date', 'userscore']]
df_PS3_top.head(10)

      metascore console                        name          date userscore
1300         98     PS3         Grand Theft Auto IV  Apr 29, 2008       7.5
0            97     PS3          Grand Theft Auto V  Sep 17, 2013       8.3
238          96     PS3         Batman: Arkham City  Oct 18, 2011       8.7
878          96     PS3  Uncharted 2: Among Thieves  Oct 13, 2009       8.9
2            95     PS3              The Last of Us  Jun 14, 2013       9.2
767          95     PS3         Red Dead Redemption  May 18, 2010       8.9
252          95     PS3                    Portal 2  Apr 19, 2011       8.5
1302         95     PS3             LittleBigPlanet  Oct 27, 2008       6.8
891          94     PS3           Street Fighter IV  Feb 17, 2009       7.3
3            94     PS3           BioShock Infinite  Mar 26, 2013       8.5

In [129]:
df_PS3_worst=df_PS3.sort_values('metascore', ascending=True).head(10)[['metascore','console', 'name', 'date', 'userscore']]
df_PS3_worst.head(10)

       metascore console  ...          date userscore
15411         17     PS3  ...   May 5, 2009       1.9
11277         23     PS3  ...  Apr 29, 2014       1.5
15409         24     PS3  ...  Nov 12, 2009       0.9
15405         27     PS3  ...   Dec 1, 2009       2.8
15237         30     PS3  ...   Sep 2, 2008       3.5
12828         31     PS3  ...  Feb 22, 2012       tbd
15201         31     PS3  ...  Nov 23, 2010       tbd
14467         31     PS3  ...  May 24, 2011       3.5
11272         32     PS3  ...  Feb 25, 2014       4.4
15198         33     PS3  ...  Apr 29, 2010       2.8

[10 rows x 5 columns]

In [130]:
df_X360_top=df_X360.sort_values('metascore', ascending=False).head(10)[['metascore','console', 'name', 'date', 'userscore']]
df_X360_top.head(10)

      metascore console                            name          date userscore
1301         98    X360             Grand Theft Auto IV  Apr 29, 2008       7.9
1            97    X360              Grand Theft Auto V  Sep 17, 2013       8.3
1176         96    X360                  The Orange Box  Oct 10, 2007       8.8
766          96    X360                   Mass Effect 2  Jan 26, 2010       8.9
249          96    X360     The Elder Scrolls V: Skyrim  Nov 11, 2011       8.5
1175         96    X360                        BioShock  Aug 21, 2007       8.9
768          95    X360             Red Dead Redemption  May 18, 2010         9
251          95    X360                        Portal 2  Apr 19, 2011       8.7
892          94    X360  Call of Duty: Modern Warfare 2  Nov 10, 2009       6.4
253          94    X360             Batman: Arkham City  Oct 18, 2011       8.7

In [131]:
df_X360_worst=df_X360.sort_values('metascore', ascending=True).head(10)[['metascore','console', 'name', 'date', 'userscore']]
df_X360_worst.head(10)

       metascore console  ...          date userscore
15445         17    X360  ...  Oct 10, 2007       4.2
12640         17    X360  ...   Apr 5, 2013       1.5
12639         19    X360  ...  Jun 25, 2013       1.2
12638         22    X360  ...  May 21, 2013         1
15408         25    X360  ...  Nov 11, 2009       4.3
15406         25    X360  ...  Mar 31, 2009       2.5
12833         25    X360  ...  Jan 11, 2012       3.9
15202         26    X360  ...  Nov 18, 2010       3.7
11274         28    X360  ...  Feb 21, 2014       2.2
15403         28    X360  ...   Dec 1, 2009       2.8

[10 rows x 5 columns]

In [132]:
df_PC_top=df_PC.sort_values('metascore', ascending=False).head(10)[['metascore','console', 'name', 'date', 'userscore']]
df_PC_top.head(10)

      metascore console  ...          date userscore
1500         96      PC  ...  Nov 16, 2004       9.1
1178         96      PC  ...  Aug 21, 2007       8.5
449          96      PC  ...  Apr 14, 2015       7.7
1177         96      PC  ...  Oct 10, 2007       9.2
250          95      PC  ...  Apr 18, 2011         9
1404         95      PC  ...  Sep 24, 2000       9.2
4            94      PC  ...  Mar 25, 2013       8.6
1656         94      PC  ...  May 12, 2003       8.8
769          94      PC  ...  Jan 26, 2010       8.8
1104         94      PC  ...  Mar 20, 2006       8.1

[10 rows x 5 columns]

In [133]:
df_PC_worst=df_PC.sort_values('metascore', ascending=True).head(10)[['metascore','console', 'name', 'date', 'userscore']]
df_PC_worst.head(10)

       metascore console  ...          date userscore
12641         16      PC  ...  Jun 24, 2013       1.2
14083         19      PC  ...  Jun 11, 2015       1.2
12835         20      PC  ...  Oct 15, 2012       1.7
15410         20      PC  ...  Mar 31, 2009       2.3
14471         23      PC  ...  Dec 13, 2011       3.3
14861         24      PC  ...   Jul 6, 2006       2.4
14470         24      PC  ...  Dec 21, 2011         3
15407         25      PC  ...  Apr 29, 2009       4.1
15442         25      PC  ...  Jun 26, 2007       3.2
14860         26      PC  ...  Jul 25, 2006       2.8

[10 rows x 5 columns]

In [134]:
df_WIIU_top=df_WIIU.sort_values('metascore', ascending=False).head(10)[['metascore','console', 'name', 'date', 'userscore']]
df_WIIU_top.head(10)

     metascore console  ...          date userscore
357         96    WIIU  ...   Mar 3, 2017       8.2
6           93    WIIU  ...  Nov 22, 2013       8.9
69          92    WIIU  ...  Nov 21, 2014         9
8           92    WIIU  ...   Sep 3, 2013       8.7
71          91    WIIU  ...  Sep 20, 2014         9
14          90    WIIU  ...  Sep 20, 2013       8.9
88          90    WIIU  ...   Jul 2, 2014       7.6
528         90    WIIU  ...  Apr 23, 2015       8.9
18          89    WIIU  ...  Oct 13, 2013       6.1
325         89    WIIU  ...   Sep 1, 2016       8.6

[10 rows x 5 columns]

In [135]:
df_WIIU_worst=df_WIIU.sort_values('metascore', ascending=True).head(10)[['metascore','console', 'name', 'date', 'userscore']]
df_WIIU_worst.head(10)

       metascore console  ...          date userscore
12836         11    WIIU  ...   Dec 4, 2012         1
12834         24    WIIU  ...  Nov 18, 2012       3.4
12829         31    WIIU  ...  Nov 13, 2012       2.7
11271         32    WIIU  ...  Nov 11, 2014       3.5
12615         40    WIIU  ...  Nov 19, 2013         5
14069         43    WIIU  ...  Aug 28, 2015       6.6
12807         43    WIIU  ...  Nov 18, 2012         6
14065         45    WIIU  ...  Nov 10, 2015       6.4
12796         45    WIIU  ...  Nov 18, 2012       5.7
14060         46    WIIU  ...  Nov 13, 2015       4.3

[10 rows x 5 columns]

In [136]:
df_3DS_top=df_3DS.sort_values('metascore', ascending=False).head(10)[['metascore','console', 'name', 'date', 'userscore']]
df_3DS_top.head(10)

     metascore console  ...          date userscore
255         94     3DS  ...  Jun 19, 2011         9
7           92     3DS  ...   Feb 4, 2013       9.1
11          91     3DS  ...  Nov 22, 2013         9
305         90     3DS  ...   Dec 8, 2011       8.3
303         90     3DS  ...  Nov 13, 2011       8.4
87          90     3DS  ...  Jun 26, 2014       8.3
534         89     3DS  ...  Aug 20, 2015       7.9
532         89     3DS  ...  Feb 13, 2015       8.9
578         89     3DS  ...  Jul 23, 2015       7.4
593         89     3DS  ...   Apr 5, 2012       7.8

[10 rows x 5 columns]

In [137]:
df_3DS_worst=df_3DS.sort_values('metascore', ascending=True).head(10)[['metascore','console', 'name', 'date', 'userscore']]
df_3DS_worst.head(10)

       metascore console  ...          date userscore
11276         26     3DS  ...   Oct 7, 2014       2.7
12635         30     3DS  ...   Nov 5, 2013       4.8
14468         30     3DS  ...  Jun 14, 2011       3.3
14551         35     3DS  ...  Apr 19, 2016       6.3
14459         37     3DS  ...  Aug 18, 2011       5.8
12817         39     3DS  ...  Oct 16, 2012       2.6
14074         40     3DS  ...   Oct 1, 2015       5.4
11260         41     3DS  ...  May 22, 2014       tbd
12809         42     3DS  ...  Apr 26, 2012       5.3
11258         42     3DS  ...  Feb 11, 2014       6.7

[10 rows x 5 columns]

In [138]:
df_PS4_top=df_PS4.sort_values('metascore', ascending=False).head(10)[['metascore','console', 'name', 'date', 'userscore']]
df_PS4_top.head(10)

     metascore console  ...          date userscore
201         97     PS4  ...  Oct 26, 2018       7.7
67          97     PS4  ...  Nov 18, 2014       8.3
68          95     PS4  ...  Jul 29, 2014       9.1
202         94     PS4  ...  Apr 20, 2018       9.2
483         93     PS4  ...   Sep 1, 2015       8.2
269         93     PS4  ...  May 10, 2016       8.3
359         93     PS4  ...   Apr 4, 2017         9
486         92     PS4  ...  May 19, 2015       9.2
485         92     PS4  ...  Mar 24, 2015       8.9
484         92     PS4  ...  Jul 21, 2015       8.4

[10 rows x 5 columns]

In [139]:
df_PS4_worst=df_PS4.sort_values('metascore', ascending=True).head(10)[['metascore','console', 'name', 'date', 'userscore']]
df_PS4_worst.head(10)

       metascore console  ...          date userscore
14082         21     PS4  ...  Sep 22, 2015       2.6
15645         26     PS4  ...  Nov 14, 2017       2.5
11275         27     PS4  ...  Feb 25, 2014       2.8
14555         30     PS4  ...  Jul 12, 2016         1
11273         30     PS4  ...  Sep 16, 2014       1.6
14554         31     PS4  ...  Jun 23, 2016       4.7
14552         32     PS4  ...  Oct 27, 2016       2.8
14080         32     PS4  ...  Sep 29, 2015       1.4
13412         35     PS4  ...  May 22, 2018       2.3
13410         36     PS4  ...   Jun 5, 2018       5.1

[10 rows x 5 columns]

In [140]:
df_VITA_top=df_VITA.sort_values('metascore', ascending=False).head(10)[['metascore','console', 'name', 'date', 'userscore']]
df_VITA_top.head(10)

     metascore console  ...          date userscore
421         93    VITA  ...  Nov 20, 2012       8.9
85          90    VITA  ...   Sep 2, 2014       7.2
20          88    VITA  ...  Aug 27, 2013       7.9
643         88    VITA  ...  Sep 18, 2012       8.6
598         88    VITA  ...  Feb 15, 2012       8.4
36          87    VITA  ...   Sep 3, 2013       8.4
37          87    VITA  ...  Nov 22, 2013       8.9
46          87    VITA  ...   Jul 2, 2013       7.9
33          87    VITA  ...   Apr 9, 2013       8.3
702         86    VITA  ...  Oct 20, 2015       7.9

[10 rows x 5 columns]

In [141]:
df_VITA_worst=df_VITA.sort_values('metascore', ascending=True).head(10)[['metascore','console', 'name', 'date', 'userscore']]
df_VITA_worst.head(10)

       metascore console  ...          date userscore
12826         33    VITA  ...  Nov 13, 2012       4.9
15644         36    VITA  ...  Nov 14, 2017       5.4
15637         39    VITA  ...   Sep 8, 2017       5.5
12612         41    VITA  ...  Jan 29, 2013       6.5
12804         44    VITA  ...  Mar 13, 2012       3.7
12799         44    VITA  ...  Dec 31, 2012       3.2
12585         48    VITA  ...  Oct 15, 2013       6.9
14053         48    VITA  ...   Sep 1, 2015       6.5
12777         49    VITA  ...  Feb 15, 2012       6.4
12782         49    VITA  ...  Feb 15, 2012         5

[10 rows x 5 columns]

In [142]:
df_XONE_top=df_XONE.sort_values('metascore', ascending=False).head(10)[['metascore','console', 'name', 'date', 'userscore']]
df_XONE_top.head(10)

     metascore console  ...          date userscore
200         98    XONE  ...  Oct 26, 2018       5.9
56          97    XONE  ...  Nov 18, 2014       7.8
481         95    XONE  ...   Sep 1, 2015       7.4
203         94    XONE  ...  Jan 26, 2018       6.4
290         93    XONE  ...  Jun 29, 2016       8.2
205         93    XONE  ...  Aug 31, 2018       7.5
360         92    XONE  ...  Jul 19, 2017       7.4
206         92    XONE  ...  Sep 28, 2018       7.7
295         91    XONE  ...  Sep 23, 2016         8
212         91    XONE  ...   Aug 7, 2018         8

[10 rows x 5 columns]

In [143]:
df_XONE_worst=df_XONE.sort_values('metascore', ascending=True).head(10)[['metascore','console', 'name', 'date' , 'userscore']]
df_XONE_worst.head(10)

       metascore console                          name          date userscore
12637         23    XONE                Fighter Within  Nov 19, 2013       2.8
14556         30    XONE              Soda Drinker Pro  Apr 14, 2016       5.9
14553         32    XONE                  Ghostbusters  Jul 12, 2016       0.4
14079         32    XONE  Giana Sisters: Dream Runners  Aug 19, 2015       4.7
13417         32    XONE                     Gene Rain  Jul 31, 2018       4.5
13415         34    XONE                         Agony  May 29, 2018       4.4
13414         34    XONE                     Past Cure  Feb 23, 2018       6.7
14550         35    XONE                 7 Days to Die  Jun 28, 2016       5.4
12626         36    XONE                   NBA Live 14  Nov 19, 2013       3.1
14076         38    XONE                  Project Root  Apr 29, 2015         5

In [144]:
df_Switch_top=df_Switch.sort_values('metascore', ascending=False).head(10)[['metascore','console', 'name', 'date', 'userscore']]
df_Switch_top.head(10)

     metascore console  ...          date userscore
321         97  Switch  ...   Mar 3, 2017       8.5
356         97  Switch  ...  Oct 27, 2017       8.9
204         93  Switch  ...  Sep 18, 2018       8.1
207         92  Switch  ...  Jan 25, 2018       8.3
363         92  Switch  ...  Apr 28, 2017       8.6
209         92  Switch  ...  Feb 16, 2018       8.4
365         91  Switch  ...   Mar 3, 2017       8.2
211         91  Switch  ...  Jul 17, 2018       8.8
364         91  Switch  ...  Dec 28, 2017       8.4
210         91  Switch  ...  Jun 28, 2018       8.2

[10 rows x 5 columns]

In [145]:
df_Switch_worst=df_Switch.sort_values('metascore', ascending=True).head(10)[['metascore','console', 'name', 'date', 'userscore']]
df_Switch_worst.head(10)

       metascore console                           name          date userscore
15646         17  Switch         Vroom in the Night Sky   Apr 5, 2017       3.1
13416         34  Switch  Fantasy Hero: Unsigned Legacy  Jan 25, 2018       4.3
13411         36  Switch                         Hollow  Feb 22, 2018       6.1
15642         38  Switch  Touhou Kobuto V: Burst Battle  Oct 10, 2017       4.6
13406         39  Switch       Senran Kagura Reflexions  Sep 13, 2018       8.2
13407         39  Switch                 Hello Neighbor  Jul 27, 2018       5.2
15639         39  Switch                   The Deer God  Dec 21, 2017       4.4
15631         44  Switch                        Vaccine   Jul 6, 2017       5.6
13397         47  Switch         Scribblenauts Showdown   Mar 6, 2018         4
13390         49  Switch                   Morphies Law  Aug 20, 2018       5.9

In [146]:
df_WII_top=df_WII.sort_values('metascore', ascending=False).head(10)[['metascore','console', 'name', 'date', 'userscore']]
df_WII_top.head(10)

      metascore console  ...          date userscore
743          97     WII  ...  May 23, 2010       9.1
1165         97     WII  ...  Nov 12, 2007         9
1101         95     WII  ...  Nov 19, 2006         9
1303         94     WII  ...  Oct 13, 2008       8.7
257          93     WII  ...  Nov 20, 2011       8.1
1306         93     WII  ...   Mar 9, 2008       8.9
454          92     WII  ...   Apr 6, 2012       9.2
272          92     WII  ...  Nov 15, 2011       8.5
1310         92     WII  ...  Dec 18, 2008       7.6
911          91     WII  ...  Aug 24, 2009       9.1

[10 rows x 5 columns]

In [147]:
df_WII_worst=df_WII.sort_values('metascore', ascending=True).head(10)[['metascore','console', 'name', 'date', 'userscore']]
df_WII_worst.head(10)

       metascore console                        name          date userscore
15241         18     WII                SPOGS Racing   Jul 7, 2008       3.6
15443         25     WII                     Cruis'n  Nov 27, 2007       3.7
15441         25     WII                  Game Party  Nov 27, 2007       3.8
15440         26     WII            Jenga World Tour   Dec 7, 2007       2.8
15438         27     WII               Chicken Shoot   Jul 5, 2007       4.6
15439         27     WII  Looney Tunes: Acme Arsenal   Oct 9, 2007       5.1
15238         29     WII                Game Party 2   Oct 6, 2008       4.6
15399         31     WII               CID The Dummy   Jul 7, 2009       tbd
15436         32     WII                  Pool Party   Sep 5, 2007       0.5
15232         33     WII              Target: Terror  Apr 22, 2008         3

In [148]:
df_DS_top=df_DS.sort_values('metascore', ascending=False).head(10)[['metascore','console', 'name', 'date', 'userscore']]
df_DS_top.head(10)

      metascore console  ...          date userscore
897          93      DS  ...  Aug 12, 2009       8.4
893          93      DS  ...  Mar 17, 2009       8.2
1312         92      DS  ...  Nov 25, 2008       9.2
1845         91      DS  ...  Nov 14, 2005       8.6
1214         90      DS  ...   Oct 1, 2007         8
1847         90      DS  ...  Aug 22, 2005       8.9
922          90      DS  ...  Sep 14, 2009       8.7
1116         89      DS  ...  May 15, 2006       8.5
1891         89      DS  ...   Oct 4, 2005       8.4
1907         88      DS  ...  Jun 28, 2005       7.6

[10 rows x 5 columns]

In [149]:
df_DS_worst=df_DS.sort_values('metascore', ascending=True).head(10)[['metascore','console', 'name', 'date', 'userscore']]
df_DS_worst.head(10)

       metascore console  ...          date userscore
15444         20      DS  ...  Jul 23, 2007         2
15240         23      DS  ...   Mar 5, 2008       2.4
14209         28      DS  ...   Dec 8, 2004       3.9
12831         28      DS  ...  Oct 30, 2012       1.1
15437         28      DS  ...  Nov 20, 2007       4.9
14469         29      DS  ...   Jun 6, 2011       3.3
15236         31      DS  ...  Apr 29, 2008       5.4
15235         32      DS  ...   Mar 4, 2008         5
15435         32      DS  ...  Nov 13, 2007       tbd
14855         33      DS  ...  Nov 20, 2006       4.9

[10 rows x 5 columns]

In [150]:
df_PSP_top=df_PSP.sort_values('metascore', ascending=False).head(10)[['metascore','console', 'name', 'date', 'userscore']]
df_PSP_top.head(10)

      metascore console  ...          date userscore
1316         91     PSP  ...   Mar 4, 2008       8.6
927          90     PSP  ...  Oct 20, 2009       7.4
807          89     PSP  ...   Jul 5, 2010       7.8
827          89     PSP  ...   Jun 8, 2010       8.8
1893         89     PSP  ...  Mar 22, 2005       6.7
1922         88     PSP  ...  Mar 22, 2005       8.2
1900         88     PSP  ...  Mar 16, 2005         8
1918         88     PSP  ...  Oct 24, 2005       7.7
1233         88     PSP  ...   Oct 9, 2007       8.9
1120         88     PSP  ...  Jul 25, 2006       8.5

[10 rows x 5 columns]

In [151]:
df_PSP_worst=df_PSP.sort_values('metascore', ascending=True).head(10)[['metascore','console', 'name', 'date', 'userscore']]
df_PSP_worst.head(10)

       metascore console  ...          date userscore
15404         28     PSP  ...   Apr 8, 2009       0.9
14857         32     PSP  ...   Nov 2, 2006       4.6
15391         36     PSP  ...  Apr 14, 2009       tbd
15421         37     PSP  ...  Mar 20, 2007         4
15420         37     PSP  ...  Apr 18, 2007       tbd
15419         37     PSP  ...  Oct 23, 2007       4.6
15417         38     PSP  ...  May 29, 2007       5.3
15184         38     PSP  ...  Mar 30, 2010       5.7
14829         39     PSP  ...  Nov 14, 2006       tbd
14821         41     PSP  ...  Feb 28, 2006       tbd

[10 rows x 5 columns]

In [152]:
df_PS2_top=df_PS2.sort_values('metascore', ascending=False).head(10)[['metascore','console', 'name', 'date', 'userscore']]
df_PS2_top.head(10)

      metascore console  ...          date userscore
1000         97     PS2  ...  Oct 28, 2001       7.5
1001         97     PS2  ...  Oct 22, 2001       8.5
1803         96     PS2  ...  Oct 25, 2005         9
1003         96     PS2  ...  Nov 12, 2001       8.8
1004         95     PS2  ...   Jul 9, 2001       8.4
2303         95     PS2  ...  Aug 12, 2002       7.4
2301         95     PS2  ...  Oct 27, 2002       8.8
1501         95     PS2  ...  Oct 26, 2004         9
1007         94     PS2  ...  Aug 19, 2001       7.4
2305         94     PS2  ...  Mar 17, 2002       8.1

[10 rows x 5 columns]

In [153]:
df_PS2_worst=df_PS2.sort_values('metascore', ascending=True).head(10)[['metascore','console', 'name', 'date', 'userscore']]
df_PS2_worst.head(10)

       metascore console  ...          date userscore
15589         24     PS2  ...  Jun 27, 2002         4
15588         27     PS2  ...  Jan 21, 2002       3.8
14407         32     PS2  ...  Oct 14, 2003       3.2
15234         32     PS2  ...  Jul 29, 2008         4
15584         33     PS2  ...  Jun 23, 2002       3.5
14204         34     PS2  ...  Jun 15, 2004       3.2
10539         35     PS2  ...  Nov 15, 2001       3.4
15499         35     PS2  ...  Jul 11, 2005       4.1
14404         35     PS2  ...  Nov 18, 2003         5
14851         36     PS2  ...  Nov 21, 2006       4.4

[10 rows x 5 columns]

In [154]:
df_XBOX_top=df_XBOX.sort_values('metascore', ascending=False).head(10)[['metascore','console', 'name', 'date', 'userscore']]
df_XBOX_top.head(10)

      metascore console  ...          date userscore
1002         97    XBOX  ...  Nov 14, 2001       8.6
1654         96    XBOX  ...  Oct 31, 2003         8
1502         95    XBOX  ...   Nov 9, 2004       8.2
1805         94    XBOX  ...  Mar 28, 2005       8.9
1503         94    XBOX  ...   Sep 7, 2004       7.4
1804         94    XBOX  ...  Sep 20, 2005       8.7
1660         94    XBOX  ...  Jul 17, 2003         9
2307         93    XBOX  ...  Nov 17, 2002       8.6
1808         93    XBOX  ...   Jun 7, 2005       8.7
1505         93    XBOX  ...  Mar 23, 2004       8.6

[10 rows x 5 columns]

In [155]:
df_XBOX_worst=df_XBOX.sort_values('metascore', ascending=True).head(10)[['metascore','console', 'name', 'date', 'userscore']]
df_XBOX_worst.head(10)

       metascore console  ...          date userscore
14846         22    XBOX  ...   Nov 3, 2003       1.8
14844         24    XBOX  ...   Jan 2, 2003       2.8
14843         25    XBOX  ...  Mar 18, 2003       3.4
14841         26    XBOX  ...  Jul 30, 2003       2.7
14840         26    XBOX  ...   May 6, 2003       3.7
15587         28    XBOX  ...  Oct 22, 2002       3.7
14409         30    XBOX  ...  Jul 24, 2003       3.9
15503         30    XBOX  ...  Nov 22, 2005       4.4
15502         32    XBOX  ...  Oct 26, 2005       5.8
15586         32    XBOX  ...   Jul 1, 2002       2.4

[10 rows x 5 columns]

In [156]:
df_GBA_top=df_GBA.sort_values('metascore', ascending=False).head(10)[['metascore','console', 'name', 'date', 'userscore']]
df_GBA_top.head(10)

      metascore console  ...          date userscore
1005         95     GBA  ...  May 30, 2001       7.1
2302         95     GBA  ...   Dec 3, 2002       8.9
1658         94     GBA  ...  Oct 21, 2003       8.9
1008         93     GBA  ...  Aug 26, 2001       8.2
1013         92     GBA  ...   Sep 9, 2001         9
2317         92     GBA  ...  Nov 17, 2002         9
1199         92     GBA  ...   Feb 5, 2007       9.3
2314         92     GBA  ...   Feb 9, 2002       8.9
2323         91     GBA  ...  Sep 24, 2002       8.9
1702         91     GBA  ...   May 6, 2003       8.8

[10 rows x 5 columns]

In [157]:
df_GBA_worst=df_GBA.sort_values('metascore', ascending=True).head(10)[['metascore','console', 'name', 'date', 'userscore']]
df_GBA_worst.head(10)

       metascore console  ...          date userscore
15590         24     GBA  ...  Nov 25, 2002       3.7
14839         26     GBA  ...  Nov 18, 2003       4.3
14208         30     GBA  ...  Nov 17, 2004         3
14205         33     GBA  ...   May 6, 2004       6.3
14405         33     GBA  ...   Dec 2, 2003       8.2
10550         33     GBA  ...  Dec 12, 2001         2
15582         34     GBA  ...   Oct 7, 2002       4.2
14202         35     GBA  ...  Apr 25, 2004         8
15576         37     GBA  ...   Nov 3, 2002       tbd
10538         37     GBA  ...  Sep 17, 2001       tbd

[10 rows x 5 columns]

In [158]:
df_N64_top=df_N64.sort_values('metascore', ascending=False).head(10)[['metascore','console', 'name', 'date', 'userscore']]
df_N64_top.head(10)

      metascore console  ...          date userscore
1402         97     N64  ...  May 22, 2000       8.9
1405         95     N64  ...  Oct 25, 2000       9.1
1009         93     N64  ...   Feb 5, 2001       9.1
1016         92     N64  ...   Mar 4, 2001       9.1
1417         91     N64  ...  Aug 28, 2000       8.9
1428         90     N64  ...  Nov 19, 2000         9
1435         89     N64  ...  Nov 17, 2000       8.8
1437         88     N64  ...  Apr 30, 2000         8
1096         84     N64  ...  Aug 21, 2001       8.8
1478         84     N64  ...  Dec 18, 2000       7.9

[10 rows x 5 columns]

In [159]:
df_N64_worst=df_N64.sort_values('metascore', ascending=True).head(10)[['metascore','console', 'name', 'date' ,'userscore']]
df_N64_worst.head(10)

      metascore console  ...          date userscore
6845         41     N64  ...  Jun 30, 2000       tbd
6842         43     N64  ...  Oct 16, 2000       7.3
6835         46     N64  ...  Sep 26, 2000       6.8
9343         53     N64  ...  Mar 14, 2001       7.8
6810         54     N64  ...  Jul 14, 2000       6.6
6804         55     N64  ...  Nov 16, 2000       7.4
5297         57     N64  ...  Aug 23, 2000       tbd
5296         57     N64  ...   Nov 5, 2000       6.4
5294         58     N64  ...  Jun 15, 2000       tbd
5221         69     N64  ...  Sep 16, 2000       8.4

[10 rows x 5 columns]

In [160]:
df_DC_top=df_DC.sort_values('metascore', ascending=False).head(10)[['metascore','console', 'name', 'date', 'userscore']]
df_DC_top.head(10)

      metascore console                      name          date userscore
1403         97      DC                   NFL 2K1   Sep 7, 2000       6.4
1401         97      DC  Tony Hawk's Pro Skater 2   Nov 6, 2000       6.2
1408         94      DC           Jet Grind Radio  Oct 30, 2000         8
1010         93      DC                   NBA 2K2  Oct 24, 2001       7.3
1413         93      DC                   NBA 2K1   Nov 1, 2000         7
1412         93      DC        Test Drive Le Mans  Nov 13, 2000       7.7
1411         93      DC          Skies of Arcadia  Nov 13, 2000       8.9
1410         93      DC           Quake III Arena  Oct 22, 2000       8.1
1427         90      DC                Grandia II   Dec 6, 2000       8.6
1423         90      DC       Marvel vs. Capcom 2  Jun 29, 2000       8.8

In [161]:
df_DC_worst=df_DC.sort_values('metascore', ascending=True).head(10)[['metascore','console', 'name', 'date', 'userscore']]
df_DC_worst.head(10)

       metascore console  ...          date userscore
6850          38      DC  ...  Dec 30, 2000       tbd
10534         40      DC  ...  Feb 13, 2001       tbd
6838          44      DC  ...  Jul 30, 2000       tbd
10502         46      DC  ...   Aug 5, 2001       4.5
6830          48      DC  ...  Jul 17, 2000       7.2
6824          49      DC  ...  Dec 17, 2000         6
6813          53      DC  ...  Aug 31, 2000       tbd
6809          54      DC  ...  Nov 13, 2000       7.2
9332          55      DC  ...  Feb 28, 2001       tbd
6805          55      DC  ...  Sep 26, 2000       tbd

[10 rows x 5 columns]

In [162]:
df_GC_top=df_GC.sort_values('metascore', ascending=False).head(10)[['metascore','console', 'name', 'date', 'userscore']]
df_GC_top.head(10)

      metascore console  ...          date userscore
2300         97      GC  ...  Nov 17, 2002       9.2
1787         96      GC  ...  Jan 11, 2005       9.3
1642         96      GC  ...  Mar 24, 2003       8.9
1100         96      GC  ...  Dec 11, 2006       8.9
1655         95      GC  ...  Nov 17, 2003         9
1661         94      GC  ...  Aug 12, 2003         7
1677         93      GC  ...   Oct 7, 2003       8.3
1675         93      GC  ...  Aug 27, 2003       8.8
2316         92      GC  ...  Aug 25, 2002       8.6
2313         92      GC  ...  Aug 12, 2002       8.5

[10 rows x 5 columns]

In [163]:
df_GC_worst=df_GC.sort_values('metascore', ascending=True).head(10)[['metascore','console', 'name', 'date', 'userscore']]
df_GC_worst.head(10)

       metascore console  ...          date userscore
14845         23      GC  ...   Jul 9, 2003       3.1
14838         27      GC  ...  Jul 23, 2003       2.8
14837         29      GC  ...  Mar 25, 2003       2.7
14201         35      GC  ...  Sep 14, 2004         2
14401         36      GC  ...   Jan 9, 2003       3.4
15579         36      GC  ...  Nov 17, 2002       4.7
15580         36      GC  ...  Feb 27, 2002       5.6
15568         39      GC  ...  Sep 14, 2002       4.7
15495         39      GC  ...  Jul 11, 2005       3.2
10536         39      GC  ...  Dec 18, 2001       2.9

[10 rows x 5 columns]

In [164]:
df_PS_top=df_PS.sort_values('metascore', ascending=False).head(10)[['metascore','console', 'name', 'date', 'userscore']]
df_PS_top.head(10)

      metascore console  ...          date userscore
1400         98      PS  ...  Sep 20, 2000       7.4
1406         94      PS  ...  Nov 13, 2000       9.2
1407         94      PS  ...  Aug 15, 2000       8.8
1415         92      PS  ...  May 15, 2000         9
1418         91      PS  ...  Oct 23, 2000       8.9
1026         90      PS  ...   May 9, 2001       8.8
1426         90      PS  ...  Nov 21, 2000       8.7
1429         90      PS  ...   Dec 5, 2000       8.2
1430         90      PS  ...  Aug 22, 2000       6.8
1038         89      PS  ...  Jun 29, 2001       9.4

[10 rows x 5 columns]

In [165]:
df_PS_worst=df_PS.sort_values('metascore', ascending=True).head(10)[['metascore','console', 'name', 'date', 'userscore']]
df_PS_worst.head(10)

       metascore console  ...          date userscore
14842         25      PS  ...  Mar 25, 2003         5
10553         26      PS  ...  Apr 25, 2001       3.8
6853          26      PS  ...  Nov 20, 2000         4
6852          28      PS  ...  Jun 30, 2000       2.1
10552         32      PS  ...  Apr 12, 2001       5.5
6851          37      PS  ...  Sep 19, 2000       6.7
6849          39      PS  ...  Aug 30, 2000       6.5
6848          40      PS  ...  Sep 12, 2000       tbd
6844          42      PS  ...  Aug 23, 2000       tbd
6840          43      PS  ...   Sep 6, 2000       5.5

[10 rows x 5 columns]

# THE END OF THE CODE.
# THIS CAN BE USE AS A REPORT MAYBE OR USE DE ETL PROCESS TO CONTINUE USING THE TABLES